<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multicalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiCalculator">
        <activity
            android:name=".decimalhexa.decimalHexadecimalActivity"
            android:label="@string/title_activity_decimal_hexadecimal"
            android:theme="@style/Theme.MultiCalculator.NoActionBar"></activity>
        <activity
            android:name=".binaryhexa.binaryHexadecimalActivity"
            android:label="@string/title_activity_binary_hexadecimal"
            android:theme="@style/Theme.MultiCalculator.NoActionBar" />
        <activity
            android:name=".binaryDecimalActivity"
            android:label="@string/title_activity_binary_decimal"
            android:theme="@style/Theme.MultiCalculator.NoActionBar" />
        <activity android:name=".calculatorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>